
.input-group {
  margin: 0px auto;
}

::-webkit-input-placeholder { 
  color:#000;
  text-transform: uppercase;
  padding:4px;
  font-size: 0.8em;
}

.myBtn{
  background-color: #4c4c4b;
  border: none;
  text-transform: uppercase;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
}