.container {
  width: 650px;
}

form {
  margin: 0px auto;
  max-width: 100%;
  padding:4px;
}
.invalid-feedback {
  max-width: 60%;
}
.card {
  width: 150px;
  padding: 5px;
  margin: 5px;
  height: 160px;
  background-color: #373737;
}

.card-header {
  padding: 0.2rem 3.6rem;
  margin-top: -5px;
  width: 148px;
  margin-left: -4px;
}

.card-text {
  color:#656565;
  font-size: 0.8em;
  text-align: right;
  padding:5px;
}

h6 {
  max-width: 100px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  margin: 0px auto;
}

.small-ico {
  width:18px;
  height: 18px;
}

.ico-text{
  padding:0;
  font-size:0.7em;
  color:#656565;
}

.card:selected{
background-color: red;
}

/* submit */

.input-group {
  margin: 0px auto;
  border-radius: 0;
}

.bar {
  max-width: 60%;
}

::-webkit-input-placeholder { 
  color:#000;
  text-transform: uppercase;
  padding:4px;
  font-size: 0.8em;
}

.myBtn{
  background-color: #4c4c4b;
  border: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0;
  font-size: 0.8rem;
  cursor: pointer;
}

@media screen and (max-width: 699px) {
  .container {
    max-width: 400px;
    overflow-x: hidden;
    /* margin-right:180px !important; */
  }


.myBtn{
  background-color: #4c4c4b;
  border: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0;
  font-size: 1rem;
  cursor: pointer;
  width: 400px;
  margin-left: -80px;
  height: 40px;
  z-index: 999;
  position: fixed;
}
  
  form {
    margin: 0px auto;
    max-width: 93%;
  }

  .bar {
    max-width: 80%;
  }
  .card {
    width: 90%;
    height:100%;
    margin-bottom:18px;
  }
  h5 {
    font-size: 0.80rem;
  }
  .card-header {
    width: 90%;
  }
}