<form #pinForm="ngForm" (ngSubmit)="onSubmit(pinForm)" class="mt-3">
  <div class="bar input-group">
    <input type="text" style="border-radius: 0" [(ngModel)]="pin" [ngClass]="{'is-invalid': ridePin.errors && ridePin.touched}"
      class="form-control" name="pin" #ridePin="ngModel" placeholder="&nbsp;#pin" required>
    <button (click)="submitForm()" class="myBtn">submit</button>
  </div>

  <div class="row invalid-feedback input-group mt-2" [hidden]="!ridePin.errors?.required"> PIN number is required </div>

  <div class="container mt-4 input-group">
    <div class="row" style="display:flex;">
      <div *ngFor="let ride of rides;let i = index" (click)="rideClicked(ride.id, i)">
        <div class="card mb-2" [ngStyle]="ride.isSelected">
          <div class="card-header" [ngStyle]="{'background-color': ride.zone.color}"> </div>
          <p class="card-text"> {{ride.zone.name}} </p>
          <h6> {{ride.name}} </h6>

          <div class="row mt-4" *ngIf="parkOpen" fxLayout fxLa yout.xs="row"
            fxLayoutAlign="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="20px">
            <div>
              <img class="small-ico" src="../../assets/ico-g-03.svg" alt="" />
              <span class="ico-text"> {{ride.return_time | date:"shortTime" }} </span>
            </div>
            <div>
              <img class="small-ico" src="../../assets/ico-g-01.svg" alt="" />
              <span class="ico-text"> {{ride.remaining_tickets}} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- 
<ng-template #parkClosed>
      <p class="text-white"><small>park is closed</small></p>
</ng-template> -->
