<div class="container mt-4">
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-unstyled">
        <li class="card mb-2" *ngFor="let ride of rides" [ngStyle]="selectedColor">
          <input type="radio" name="rides" value="{{ride.name}}">
          <!-- TODO: card header background color is data passed from the JSON {{ride.zone.color}} finish ngStyle-->
          <div class="card-header" [ngStyle]="stripColor"> </div>
          <p class="card-text"> {{ride.zone.name}} </p>
          <h5> {{ride.name}} </h5>
          <div class="row mt-4" fxLayout fxLayout.xs="row" fxLayoutAlign="center center" fxLayoutGap="25px" fxLayoutGap.xs="20px">
            <div>
              <img class="small-ico" src="../../assets/ico-g-03.svg" alt="" />
              <span class="ico-text"> {{ride.returnTime | date:"shortTime" }} </span>
            </div>
            <div>
              <img class="small-ico" src="../../assets/ico-g-01.svg" alt="" />
              <span class="ico-text"> {{ride.remainingTickets}} </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>