.container {
  margin: 0px auto;
  width: 70%;
  padding:4px;
}

.card {
  max-width: 150px;
  height: 160px;
  background-color: #373737;
}

.card-header {
  padding: 0.15rem 1.25rem;
}

.card-text {
  color:#656565;
  font-size: 0.8em;
  text-align: right;
  padding:5px;
}

h5 {
  max-width: 100px;
  text-align: center;
  margin: 0px auto;
}

.small-ico {
  width:22px;
  height: 22px;
}

.ico-text{
  padding:0;
  font-size:0.8em;
  color:#656565;
}

input[type="radio"]{
  position:fixed;
  opacity:1;
}

.card:selected{
background-color: red;
}

@media screen and (max-width: 699px) {
  .container {
    margin: 0px auto;
    width: 100%;
  }
}