p {
  color: #656565;
  max-width:160px;
  margin-left: 90px;
  line-height: 15px;
  font-size: 12px;
}

.round {
  background-color:#4c4c4b;
  border-radius: 100%;
  height:40px;
  width:40px;
  position: relative;
  margin: 0px 0px 10px 140px;
  padding-top: 3px;
}

img {
  width:32px;
  height: 32px;
  background-position: center center;
}