/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color:#232323;
  text-align: center;
  font-family: sans-serif;
}

h1, h2, h5{
  color:#fff;
  font-weight: 100;
}