<div class="container mt-4" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="15px" fxLayoutGap.xs="0">

  <div class="flex-item1" fxFlex="40%" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="10px"
    fxLayoutGap.xs="0">
    <div class="round">
      <img src="../../assets/ico-04.svg" alt="" />
    </div>
    <p class="text-center">
      Thank you for using The Jungle
      <sup>&trade;</sup> FastRider ticket system - your access code is now ready!
    </p>
  </div>
  <div class="flex-item2" fxFlex="25%" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="10px"
    fxLayoutGap.xs="0">
    <ul fxFlex="100%" fxLayoutAlign="center center">
      <li class="card" *ngFor="let ride of rides">
        <div class="card-header" [ngStyle]="{'background-color': ride.zone.color}"> </div>
        <div class="card-text mt-2" fxLayoutAlign="space-around center" fxLayoutGap="30px" fxLayoutGap.xs="20px">
          <span class="text-white">{{ride.name}}</span> {{ride.zone.name}}
        </div>
        <div class="card-text mt-3" fxLayoutAlign="center center"> Return At</div>
        <span class="text-white">
          {{ride.returnTime | date:"shortTime" }}
        </span>
        <div class="card-text mt-2" fxLayoutAlign="center center"> Use Access Code</div>
        <span class="text-white mt-2.5"> 11-4586-99 </span>
        <!-- TODO: should be access code from tickets api -->
      </li>
    </ul>
  </div>
</div>
